NODE_ENV=production
CLIENT_URL=https://sp-enterprises.vercel.app
MONGOD_URI=mongodb+srv://spenterprisesorders_db_user:6l7cY4mgmMZOONtl@cluster0.ojut9ta.mongodb.net/mydb?retryWrites=true&w=majority
JWT_SECRET=Pranu_23
JWT_EXPIRES_IN=7d
RAZORPAY_KEY_ID=rzp_test_Se1RpYyr6fles2
RAZORPAY_KEY_SECRET=oOyEnIpZOdYEcDR3KUuUOPZL
ADMIN_NAME=SP Admin
ADMIN_EMAIL=admin@spenterprises.com
ADMIN_PASSWORD=Admin@123
